body {
	padding-top: 50px;
}

.main {
	max-width: 990px;
	margin: 0 auto;
	width: 100%;
	padding: 27px 15px 15px 15px;
  
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.block {
	overflow: auto;
}

.half {
  width: 48%;
  float: left;
  &:last-child{
    margin-left: 2%;
  }
}
