.teamMember{

}

.teamMember__bio {

}

.teamMember__name {

}

.teamMember__name-title {
	font-weight: normal;
	display: block;
}

.teamMember__photo {
	float: left;
	margin-right: 15px;
}

.slide-team-wrap {
	padding-top: 50px;
}
