.teamMember__name-title {
	font-weight: normal;
	display: block;
}

.teamMember__photo {
	float: left;
	margin-right: 15px;
}

.alumni {
  .teamMember__name {
    color: #666;
    font-weight: 400;
  }
}

.teamWrapper {
  display: flex;
  justify-content: space-between;

  div:first-of-type {
    flex-basis: 33%;
  }
}

.slide-team-wrap {
	padding-top: 50px;
}

.teamMember_teamimg {
  max-width: 100%;
}
