.media {
	.teamSlider{
		margin-bottom: 55px;
	}

	.links {
		padding: 10px 0 30px 0;
	}
}

.link_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    margin: 15px;
  }
}

.video {
	display: inline-block;
	margin: 2px;
}
