.publications {
	
	ul {
		padding: 0;
		margin: 0;
	}
}

.publication {
  width: 100%;
	//width: 48%;
	//float: left;
	padding: 0;
	list-style: none;
  margin-bottom: 15px;
	//min-height: 190px;
	
	&:nth-child(even){
		//margin-left: 30px;
	}
}

.publication__title {
	display: block;	
	font-weight: bold;
}

.publication__authors {
	color: #777;
	
	strong{
		color: #333;
	}
}

.publication__journal {
	display: block;
	font-weight: bold;
	padding-top: 10px;
}
